@import model.whist.Attachment
@import model.whist.PointRule
@import model.GameForm

@(gameForm: Form[GameForm], locationOptions: Seq[(String,String)], players: Seq[(String, String)])(implicit request: RequestHeader, lang: Lang, messages: Messages)

@import views.common.TwitterBootstrapInput._
@import helper._

@main("Create a new Game", "Game") {
    <input type="number" min="4" max="8" id="players" />

    <h3>Create game</h3>

    @helper.form(controllers.routes.GameController.createGame(), 'class -> "form-horizontal") {
        <fieldset>
            <legend>Information</legend>

            @helper.select(
                gameForm("location"),
                locationOptions,
                '_label -> "Location",
                '_error -> "Pick location"
            )

            @helper.textarea(
                gameForm("description"),
                '_label -> "Description",
                '_error -> "Description"
            )
        </fieldset>
        <fieldset>
            <legend>Point Rules</legend>


            @for(index <- PointRule.pointRules.indices) {
                <div class="form-group">
                    <input type="checkbox" name="rules[@index]" value="@PointRule.pointRules(index).value" id="rule_@index" class="checkbox-inline" />
                    <label for="rule_@index">@PointRule.pointRules(index).name</label>
                    <span class="help-block">@PointRule.pointRules(index).description</span>
                </div>
            }
        </fieldset>
        <fieldset>
            <legend>Bid attachments</legend>

            @for(index <- Attachment.optionalAttachmentsOrder.indices) {
                <div class="form-group">
                    <input type="checkbox" name="attachment[@index]" value="@Attachment.optionalAttachmentsOrder(index).value" id="attachment_@index" class="checkbox-inline" />
                    <label for="attachment_@index">@Attachment.optionalAttachmentsOrder(index).name</label>
                    <span class="help-block">@Attachment.optionalAttachmentsOrder(index).description</span>
                </div>
            }
        </fieldset>
        <fieldset>
            <legend>Players</legend>

            <div id="players"></div>
        </fieldset>
    }
}
