html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
    padding: 5px
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	padding-bottom:5px;
	margin: 0 auto -140px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
#wrap > .container-fluid {
	padding-top: 60px;
}




nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	padding: 10px;
}

form.beginround ol, form.endround ol {
	list-style-type: none;
	margin: 1px;
	padding: 0;
}
form.beginround ol li, form.endround ol li {
	display: inline;
	margin-right: 10pt;
	border: 1px solid #DDD;
}

form.beginround div.tips ol {
	display: inline;
}

form.beginround div.tips ol li {
	border-style: none;
}


form.beginround div.tips {
	display: inline;
}

form.endround ol {
	display: inline;
}

/*** Tables, general **/
table {
	border-collapse: collapse;
	border: 2px solid black;
}

table td, table th {
	border: 1px solid black;
	padding: 3pt;
}

table tfoot, table thead {
	border: 2px solid black;
}

table th {
	background-color: #fff;
	font-size: 10pt;
	font-weight: normal;
}

table th {
	background-color: #bbb;
	font-size: 12pt;
	font-weight: bold;
}

/*** Score board table **/
table.scoreboard, table.scoreboard tbody {
	border: 3px solid black;
}

table.scoreboard td,
table.scoreboard th {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

table.scoreboard td:first-child, 
table.scoreboard tr:first-child th:first-child {
	border-right: 3px solid black;
}

table.scoreboard td:nth-last-child(-2n+8),
table.scoreboard th:nth-last-child(-n+4) {
	border-left: 2px solid black;
}

table.scoreboard td:nth-last-child(8),
table.scoreboard th:nth-last-child(4) {
	border-left: 3px solid black;
}

table.scoreboard td:first-child,
table.scoreboard td:nth-last-child(-n+8) {
	text-align: right;
}

table.scoreboard td:nth-child(4),
table.scoreboard td:nth-child(5) {
	text-align: center;
}

table.scoreboard tbody tr:nth-child(odd) {
	background-color: #fff;
}
table.scoreboard tbody tr:nth-child(even) {
	background-color: #eee;
}

table.scoreboard td.negative,
table.scoreboard th.negative {
	color: red;
}

table.scoreboard td.positive,
table.scoreboard th.positive {
	color: green;
}

table.scoreboard td.dealer {
	background-color: #ffffc0;
}

table.scoreboard td.bidwinner {
	text-decoration: underline;
	font-style: italic;
}

table.scoreboard td.bidwinnermate {
	text-decoration: none;
	font-style: italic;
}

div.point-rules label {
	display: inline;
	font-weight: bold;
}
