html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	padding: 5px
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	padding-bottom:5px;
	margin: 0 auto -140px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
#wrap > .container-fluid {
	padding-top: 60px;
}




nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	padding: 10px;
}

form.beginround ol, form.endround ol {
	list-style-type: none;
	margin: 1px;
	padding: 0;
}
form.beginround ol li, form.endround ol li {
	display: inline;
	margin-right: 10pt;
	border: 1px solid #DDD;
}

form.beginround div.tips ol {
	display: inline;
}

form.beginround div.tips ol li {
	border-style: none;
}


form.beginround div.tips {
	display: inline;
}

form.endround ol {
	display: inline;
}



/*** Tables, general ***/

table {
	border-collapse: collapse;
	border: 2px solid black;
}

table td, table th {
	border: 1px solid black;
	padding: 3pt;
}

table tfoot, table thead {
	border: 2px solid black;
}

table th {
	background-color: #fff;
	font-size: 10pt;
	font-weight: normal;
}

table th {
	background-color: #bbb;
	font-size: 12pt;
	font-weight: bold;
}



/*** Score board table ***/

table.scoreboard, table.scoreboard tbody {
	border: 3px solid black;
}

table.scoreboard td,
table.scoreboard th {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

/* The round index column */
table.scoreboard td:first-child, 
table.scoreboard tr.full-row th:first-child {
	border-right: 3px solid black;
}

/* The first (leftmost) player column */
table.scoreboard td:nth-child(6),
table.scoreboard tr.full-row th:nth-child(6),
table.scoreboard tr.aggregate-row th:nth-child(4) {
	border-left: 3px solid black;
}

/* Player header cells and the leftmost body column for each player, except the first (leftmost) player */
table.scoreboard td:nth-child(2n+8),
table.scoreboard tr.full-row th:nth-child(n+7),
table.scoreboard tr.aggregate-row th:nth-child(n+5) {
	border-left: 2px solid black;
}

/* Round index column */
table.scoreboard td:first-child,
table.scoreboard tr.full-row th:first-child {
	text-align: center;
}

/* The tricks and tricks delta columns */
table.scoreboard td:nth-child(4),
table.scoreboard td:nth-child(5),
table.scoreboard tr.full-row th:nth-child(4),
table.scoreboard tr.full-row th:nth-child(5),
table.scoreboard tr.aggregate-row th:nth-child(2),
table.scoreboard tr.aggregate-row th:nth-child(3) {
	text-align: center;
}

/* Player names */
table.scoreboard tr.full-row th:nth-child(n+6) {
	text-align: center;
}

/* Player sums and bid winner (mate) count */
table.scoreboard tr.aggregate-row th:nth-child(n+4) {
	text-align: center;
}

/* Player points */
table.scoreboard td:nth-child(n+6) {
	text-align: right;
}

table.scoreboard tbody tr:nth-child(odd) {
	background-color: #ffffff;
}
table.scoreboard tbody tr:nth-child(even) {
	background-color: #efefef;
}

table.scoreboard td.negative,
table.scoreboard th.negative {
	color: red;
}

table.scoreboard td.positive,
table.scoreboard th.positive {
	color: green;
}

/* Dealer backgound must match the row background */
table.scoreboard tr:nth-child(odd) td.dealer {
	background-color: #ffffbf;
}
table.scoreboard tr:nth-child(even) td.dealer {
	background-color: #efefaf;
}

/* Not a number cells (bye and unfinished) */
table.scoreboard td.nan {
	text-align: center;
}

table.scoreboard td.bidwinner {
	text-decoration: underline;
	font-style: italic;
}

table.scoreboard td.bidwinnermate {
	text-decoration: none;
	font-style: italic;
}



/*** Roles table ***/

/* Some space for the fat fingers on touch devices :) */
table.roles td, table.roles th {
	padding: 7px;
}

table.roles th:first-child {
	border-right: 2px solid black;
}

table.roles th:nth-child(n+2) {
	text-align: center;
}

table.roles td:nth-child(n+2) {
	text-align: center;
}

table.roles input {
	vertical-align: text-bottom;
}

table.roles label {
	font-size: 85%;
	font-weight: normal;
}

table.roles input:checked + label {
	font-weight: bold;
}

/* The bid winners row, which requires manual selection */
table.roles tr.bidwinners {
	border: 2px solid black;
}



div.point-rules label {
	display: inline;
	font-weight: bold;
}
